@model IEnumerable<TssCodingAssignment.Models.CartItemModel>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            <div>Quantity</div>
        </th>
        <th>
            <div>Item Name</div>
        </th>
        <th>
            <div>Item Cost</div>
        </th>
        <th>
            <div>Extended Cost</div>
        </th>
        <th></th>
    </tr>



    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.extendedCost)
                </td>
                <td>
                    @{Html.BeginForm("Remove", "Cart", FormMethod.Post);}
                    @Html.Hidden("Id", @item.product.Id.ToString())
                    <div class="text-center"><input type="submit" class="add-btn btn btn-outline-dark mt-auto" value="Remove Item"></div>
                    @{Html.EndForm();}
                </td>
            </tr>
        }
    }

</table>
<br />
<br />
<tr class="fw-bold fs-4">
    <td>
        <h3>Total Cost: </h3>
    </td>
    <td class="fw-bold fs-4">
        <h3>$@Model.Sum(x => x.extendedCost)</h3>
    </td>
</tr>


